<div class="fluid-container" style="margin-top: 10px">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'chatrooms/sidebar' %>
    </div>

    <div class="col-sm-9">
      <h1>New Chatroom</h1>

      <%= render 'form', chatroom: @chatroom %>

      <%= link_to 'Back', chatrooms_path %>
    </div>

  </div>
</div>
